# Lab | Web Scraping

Welcome to the IMDb Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the vast sea of data available on IMDb, one of the largest online databases of movie, TV, and celebrity information. As budding data scientists and business analysts, you have been tasked to scrape a specific subset of data from IMDb to assist film production companies in understanding the landscape of highly-rated movies in a defined time period. Your insights will potentially influence the making of the next netflix movie!

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The entertainment industry, being no exception, utilizes data analytics to comprehend market trends, audience preferences, and the performance of films based on various parameters such as director, genre, stars involved, etc. IMDb stands as a goldmine of such data, offering intricate details of almost every movie ever made.

**Task**

Your task is to create a Python script using `BeautifulSoup` and `pandas` to scrape IMDb movie data based on user ratings and release dates. This script should be able to filter movies with ratings above a certain threshold and within a specified date range.

**Expected Outcome**

- A function named `scrape_imdb` that takes four parameters: `title_type`,`user_rating`, `start_date`, and `end_date`.
- The function should return a DataFrame with the following columns:
  - **Movie Nr**: The number representing the movie’s position in the list.
  - **Title**: The title of the movie.
  - **Year**: The year the movie was released.
  - **Rating**: The IMDb rating of the movie.
  - **Runtime (min)**: The duration of the movie in minutes.
  - **Genre**: The genre of the movie.
  - **Description**: A brief description of the movie.
  - **Director**: The director of the movie.
  - **Stars**: The main stars of the movie.
  - **Votes**: The number of votes the movie received.
  - **Gross ($M)**: The gross earnings of the movie in millions of USD.

You will execute this script to scrape data for movies with the Title Type `Feature Film` that have a user rating of `7.5 and above` and were released between `January 1, 1990, and December 31, 1992`.

Remember to experiment with different title types, dates and ratings to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [IMDb Advanced Search](https://www.imdb.com/search/title/)

**Hint**

Your first mission is to familiarize yourself with the IMDb advanced search page. Head over to [IMDb advanced search](https://www.imdb.com/search/title/) and input the following parameters, keeping all other fields to their default values or blank:

- **Title Type**: Feature film
- **Release date**: From 1990 to 1992 (Note: You don't need to specify the day and month)
- **User Rating**: 7.5 to -

Upon searching, you'll land on a page showcasing a list of movies, each displaying vital details such as the title, release year, and crew information. Your task is to scrape this treasure trove of data.

Carefully examine the resulting URL and construct your own URL to include all the necessary parameters for filtering the movies.


---

**Best of luck! Immerse yourself in the world of movies and may the data be with you!**

**Important note**:

In the fast-changing online world, websites often get updates and make changes. When you try this lab, the IMDb website might be different from what we expect.

If you run into problems because of these changes, like new rules or things that stop you from getting data, don't worry! Instead, get creative.

You can choose another website that interests you and is good for scraping data. Websites like Wikipedia or The New York Times are good options. The main goal is still the same: get useful data and learn how to scrape it from a website that you find interesting. It's a chance to practice your web scraping skills and explore a source of information you like.

In [ ]:
# Your solution goes here
import requests
from bs4 import BeautifulSoup
import pandas as pd

# url = "https://www.decathlon.com/collections/mountain-bikes"
# response = requests.get(url)
# soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
import re

In [ ]:
def scrape_imdb(title_type, user_rating, start_date, end_date):
    
    url = f"https://www.imdb.com/search/title/?title_type={title_type}&user_rating={user_rating}&release_date={start_date},{end_date}"
    # url = 'https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,10'
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
    }
    response = requests.get(url, headers=headers)
    # response = requests.get(url)
    print(response)
    soup = BeautifulSoup(response.text, 'html.parser')

    movies = soup.find_all('li', class_='ipc-metadata-list-summary-item')

    return movies

# Teste
result = scrape_imdb('feature', 7.5, '1990-01-01', '1992-12-31')

In [ ]:
data = {
        'Movie_Nr': [],
        'Title': [],
        'Year': [],
        'Rating': [],
        'Runtime': [],
        'Genre': [],
        'Description': [],
        'Director': [],
        'Stars': [],
        'Votes': [],
        'Gross ($M)': []
    }
datac = pd.DataFrame(data)

In [ ]:
def scrape_content(movies,data):
    for i, movie in enumerate(movies):

        pattern = r'(\d+\.)'
        pattern_title = r"([^0-9.\s].+)"

        number = re.search(pattern, movie.find('h3').text).group(1)
        title = re.search(pattern_title, movie.find('h3').text).group(1)
        meta_Y_H_R = movie.find_all(name='span', class_='sc-b189961a-8 kLaxqf dli-title-metadata-item')
        # hours = re.search(r'\dh(\s\d+m)?', meta_Y_H_R[4:])
        stars = movie.find('span', class_='ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating').get('aria-label')
        vote = movie.find('span', class_='ipc-rating-star--voteCount').text
        Description = movie.find('div', class_='ipc-html-content ipc-html-content--base sc-74bf520e-0 iiRKKi dli-plot-container').text
        
        data.loc[i,'Movie_Nr'] = number[:-1]
        data.loc[i,'Title'] = title
        data.loc[i, 'Year'] = meta_Y_H_R[0].text
        data.loc[i,'Runtime'] = meta_Y_H_R[1].text
        data.loc[i,'Rating'] = meta_Y_H_R [2].text
        data.loc[i,'Stars'] = stars[13:]
        data.loc[i,'Votes'] = vote
        data.loc[i,'Description'] = Description

        # data['Genre'].append(movie.find('span', class_='genre').text.strip())        
        # data['Director'].append(movie.find_all('p', class_='')[1].a.text)
        # stars = [star.text for star in movie.find_all('p', class_='')[1].find_all('a')[1:]]
        # data['Stars'].append(', '.join(stars))
        # try:
        #     data['Gross ($M)'].append(float(movie.find('p', class_='sort-num_votes-visible').find_all('span', attrs={'name': 'nv'})[1]['data-value']) / 1000000)
        # except IndexError:
        #     data['Gross ($M)'].append(None)

        i +=1
    return data

In [464]:
#teste 2
result2 = scrape_content(result, datac)
result2

,Movie_Nr,Title,Year,Rating,Runtime,Genre,Description,Director,Stars,Votes,Gross ($M)
0,1,Goodfellas,1990,R,2h 25m,NaN,The story of Henry Hill and his life in the ma...,NaN,8.7,(1.3M),NaN
1,2,The Silence of the Lambs,1991,R,1h 58m,NaN,A young F.B.I. cadet must receive the help of ...,NaN,8.6,(1.6M),NaN
2,3,Terminator 2: Judgment Day,1991,R,2h 17m,NaN,"A cyborg, identical to the one who failed to k...",NaN,8.6,(1.2M),NaN
3,4,Reservoir Dogs,1992,R,1h 39m,NaN,When a simple jewelry heist goes horribly wron...,NaN,8.3,(1.1M),NaN
4,5,Fried Green Tomatoes,1991,PG-13,2h 10m,NaN,"Evelyn, an ordinary housewife, visits a nursin...",NaN,7.7,(84K),NaN
5,6,The Godfather Part III,1990,R,2h 42m,NaN,"Follows Michael Corleone, now in his 60s, as h...",NaN,7.6,(425K),NaN
6,7,Total Recall,1990,R,1h 53m,NaN,When a man goes in to have virtual vacation me...,NaN,7.5,(355K),NaN
7,8,Home Alone,1990,PG,1h 43m,NaN,"An eight-year-old troublemaker, mistakenly lef...",NaN,7.7,(653K),NaN
8,9,The Last of the Mohicans,1992,R,1h 52m,NaN,Three trappers protect the daughters of a Brit...,NaN,7.7,(188K),NaN
9,10,Dances with Wolves,1990,PG-13,3h 1m,NaN,"Lieutenant John Dunbar, assigned to a remote w...",NaN,8.0,(291K),NaN
10,11,Unforgiven,1992,R,2h 10m,NaN,Retired Old West gunslinger William Munny relu...,NaN,8.2,(437K),NaN
11,12,Scent of a Woman,1992,R,2h 36m,NaN,A prep school student needing money agrees to ...,NaN,8.0,(329K),NaN
12,13,Thelma & Louise,1991,R,2h 10m,NaN,"Two best friends set out on an adventure, but ...",NaN,7.6,(173K),NaN
13,14,My Cousin Vinny,1992,R,2h,NaN,Two New Yorkers accused of murder in rural Ala...,NaN,7.6,(141K),NaN
14,15,A Few Good Men,1992,R,2h 18m,NaN,Military lawyer Lieutenant Daniel Kaffee defen...,NaN,7.7,(288K),NaN
15,16,Boyz n the Hood,1991,R,1h 52m,NaN,Follows the lives of three young males living ...,NaN,7.8,(155K),NaN
16,17,Misery,1990,R,1h 47m,NaN,After a famous author is rescued from a car cr...,NaN,7.8,(236K),NaN
17,18,Beauty and the Beast,1991,G,1h 24m,NaN,A prince cursed to spend his days as a hideous...,NaN,8.0,(480K),NaN
18,19,Aladdin,1992,G,1h 30m,NaN,A kind-hearted street urchin and a power-hungr...,NaN,8.0,(468K),NaN
19,20,The Hunt for Red October,1990,PG,2h 15m,NaN,"In November 1984, the Soviet Union's best subm...",NaN,7.5,(215K),NaN
20,21,Edward Scissorhands,1990,PG-13,1h 45m,NaN,The solitary life of an artificial man - who w...,NaN,7.9,(524K),NaN
21,22,Glengarry Glen Ross,1992,R,1h 40m,NaN,An examination of the machinations behind the ...,NaN,7.7,(116K),NaN
22,23,Awakenings,1990,PG-13,2h 1m,NaN,The victims of an encephalitis epidemic many y...,NaN,7.8,(159K),NaN
23,24,JFK,1991,R,3h 9m,NaN,New Orleans District Attorney Jim Garrison dis...,NaN,8.0,(170K),NaN
24,25,Braindead,1992,R,1h 44m,NaN,A young man's mother is bitten by a Sumatran r...,NaN,7.5,(103K),NaN
25,26,Chaplin,1992,PG-13,2h 23m,NaN,An elderly Charlie Chaplin discusses his autob...,NaN,7.5,(62K),NaN
26,27,The Player,1992,R,2h 4m,NaN,A Hollywood studio executive is being sent dea...,NaN,7.5,(66K),NaN
27,28,The Commitments,1991,R,1h 58m,NaN,"Jimmy Rabbitte, an unemployed Dublin boy, deci...",NaN,7.6,(39K),NaN
28,29,Malcolm X,1992,PG-13,3h 22m,NaN,Biographical epic of the controversial and inf...,NaN,7.7,(102K),NaN
29,30,Miller's Crossing,1990,R,1h 55m,NaN,"Tom Reagan, an advisor to a Prohibition-era cr...",NaN,7.7,(142K),NaN
30,31,The Fisher King,1991,R,2h 17m,NaN,"A former radio DJ, suicidally despondent becau...",NaN,7.5,(91K),NaN
31,32,La Belle Noiseuse,1991,Unrated,3h 58m,NaN,The former famous painter Frenhofer revisits a...,NaN,7.5,(9.4K),NaN
32,33,Barton Fink,1991,R,1h 56m,NaN,A renowned New York playwright is enticed to C...,NaN,7.6,(129K),NaN
33,34,Kurenai no buta,1992,PG,1h 34m,NaN,"In 1930s Italy, a veteran World War I pilot is...",NaN,7.7,(102K),NaN
34,35,Delicatessen,1991,R,1h 39m,NaN,Post-apocalyptic surrealist black comedy about...,NaN,7.5,(90K),NaN
35,36,Night on Earth,1991,R,2h 9m,NaN,An anthology of 5 different cab drivers in 5 A...,NaN,7.7,(66K),NaN
36,37,La double vie de Véronique,1991,R,1h 38m,NaN,Two parallel stories about two identical women...,NaN,7.7,(53K),NaN
37,38,Lat sau san taam,1992,R,2h 8m,NaN,A tough-as-nails cop teams up with an undercov...,NaN,7.7,(54K),NaN
38,39,Omohide poro poro,1991,PG,1h 59m,NaN,A twenty-seven-year-old office worker travels ...,NaN,7.6,(37K),NaN
39,40,Cyrano de Bergerac,1990,PG,2h 17m,NaN,Famed swordsman and poet Cyrano de Bergerac is...,NaN,7.5,(26K),NaN
40,41,Guling jie shaonian sharen shijian,1991,Not Rated,3h 57m,NaN,"Based on a true story, primarily on a conflict...",NaN,8.2,(13K),NaN
41,42,The Five Heartbeats,1991,R,2h 1m,NaN,The story of the rise and fall of an African A...,NaN,7.5,(4.9K),NaN
42,43,Baraka,1992,Not Rated,1h 36m,NaN,A collection of expertly photographed scenes o...,NaN,8.5,(41K),NaN
43,44,Yume,1990,PG,1h 59m,NaN,A collection of tales based upon eight of dire...,NaN,7.7,(29K),NaN
44,45,Nema-ye Nazdik,1990,Not Rated,1h 38m,NaN,"The true story of Hossain Sabzian, a cinephile...",NaN,8.2,(23K),NaN
45,46,Da hong denglong gaogao gua,1991,PG,2h 5m,NaN,"China in the 1920s. After her father's death, ...",NaN,8.1,(35K),NaN
46,47,Paris Is Burning,1990,R,1h 18m,NaN,A chronicle of New York's drag scene in the 19...,NaN,8.2,(18K),NaN
47,48,Hearts of Darkness: A Filmmaker's Apocalypse,1991,R,1h 36m,NaN,Documentary that chronicles how Francis Ford C...,NaN,8.1,(23K),NaN
48,49,Europa,1991,R,1h 52m,NaN,"Just after World War II, an American takes a r...",NaN,7.5,(23K),NaN
49,50,Les amants du Pont-Neuf,1991,R,2h 5m,NaN,"Alex, who's homeless and addicted to alcohol, ...",NaN,7.6,(15K),NaN

## BONUS

The search results span multiple pages, housing a total of 631 movies in our example with each page displaying 50 movies at most. To scrape data seamlessly from all pages, you'll need to dive deep into the structure of the URLs generated with each "Next" click.

Take a close look at the following URLs:
- First page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,
  ```
- Second page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=51&ref_=adv_nxt
  ```
- Third page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=101&ref_=adv_nxt
  ```

You should notice a pattern. There is a `start` parameter incrementing by 50 with each page, paired with a constant `ref_` parameter holding the value "adv_nxt".

Modify your script so it's capable of iterating over all available pages to fetch data on all the 631 movies (631 is the total number of movies in the proposed example).

In [ ]:
# Your solution goes here