# Lab | Web Scraping

Welcome to the IMDb Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the vast sea of data available on IMDb, one of the largest online databases of movie, TV, and celebrity information. As budding data scientists and business analysts, you have been tasked to scrape a specific subset of data from IMDb to assist film production companies in understanding the landscape of highly-rated movies in a defined time period. Your insights will potentially influence the making of the next netflix movie!

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The entertainment industry, being no exception, utilizes data analytics to comprehend market trends, audience preferences, and the performance of films based on various parameters such as director, genre, stars involved, etc. IMDb stands as a goldmine of such data, offering intricate details of almost every movie ever made.

**Task**

Your task is to create a Python script using `BeautifulSoup` and `pandas` to scrape IMDb movie data based on user ratings and release dates. This script should be able to filter movies with ratings above a certain threshold and within a specified date range.

**Expected Outcome**

- A function named `scrape_imdb` that takes four parameters: `title_type`,`user_rating`, `start_date`, and `end_date`.
- The function should return a DataFrame with the following columns:
  - **Movie Nr**: The number representing the movieâ€™s position in the list.
  - **Title**: The title of the movie.
  - **Year**: The year the movie was released.
  - **Rating**: The IMDb rating of the movie.
  - **Runtime (min)**: The duration of the movie in minutes.
  - **Genre**: The genre of the movie.
  - **Description**: A brief description of the movie.
  - **Director**: The director of the movie.
  - **Stars**: The main stars of the movie.
  - **Votes**: The number of votes the movie received.
  - **Gross ($M)**: The gross earnings of the movie in millions of USD.

You will execute this script to scrape data for movies with the Title Type `Feature Film` that have a user rating of `7.5 and above` and were released between `January 1, 1990, and December 31, 1992`.

Remember to experiment with different title types, dates and ratings to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [IMDb Advanced Search](https://www.imdb.com/search/title/)

**Hint**

Your first mission is to familiarize yourself with the IMDb advanced search page. Head over to [IMDb advanced search](https://www.imdb.com/search/title/) and input the following parameters, keeping all other fields to their default values or blank:

- **Title Type**: Feature film
- **Release date**: From 1990 to 1992 (Note: You don't need to specify the day and month)
- **User Rating**: 7.5 to -

Upon searching, you'll land on a page showcasing a list of movies, each displaying vital details such as the title, release year, and crew information. Your task is to scrape this treasure trove of data.

Carefully examine the resulting URL and construct your own URL to include all the necessary parameters for filtering the movies.


---

**Best of luck! Immerse yourself in the world of movies and may the data be with you!**

**Important note**:

In the fast-changing online world, websites often get updates and make changes. When you try this lab, the IMDb website might be different from what we expect.

If you run into problems because of these changes, like new rules or things that stop you from getting data, don't worry! Instead, get creative.

You can choose another website that interests you and is good for scraping data. Websites like Wikipedia or The New York Times are good options. The main goal is still the same: get useful data and learn how to scrape it from a website that you find interesting. It's a chance to practice your web scraping skills and explore a source of information you like.

In [1]:
import pandas as pd

movies = pd.read_html('https://en.wikipedia.org/wiki/List_of_highest-grossing_films')[0]
movies

# IMDB WASN'T WORKING - I HAD TO IMPROVISE AND I USED PANDAS INSTEAD

,Rank,Peak,Title,Worldwide gross,Year,Ref
0,1,1,Avatar,"$2,923,706,026",2009,[# 1][# 2]
1,2,1,Avengers: Endgame,"$2,797,501,328",2019,[# 3][# 4]
2,3,3,Avatar: The Way of Water,"$2,320,250,281",2022,[# 5][# 6]
3,4,1,Titanic,"T$2,257,844,554",1997,[# 7][# 8]
4,5,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 9][# 10]
5,6,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 11][# 12]
6,7,6,Spider-Man: No Way Home,"$1,921,847,111",2021,[# 13][# 14]
7,8,3,Jurassic World,"$1,671,537,444",2015,[# 15][# 16]
8,9,7,The Lion King,"$1,656,943,394",2019,[# 17][# 4]
9,10,3,The Avengers,"$1,518,815,515",2012,[# 18][# 19]
10,11,4,Furious 7,"$1,515,341,399",2015,[# 20][# 21]
11,12,11,Top Gun: Maverick,"$1,495,696,292",2022,[# 22][# 23]
12,13,10,Frozen II,"$1,450,026,933",2019,[# 24][# 25]
13,14,14,Barbie,"$1,445,638,421",2023,[# 26][# 27]
14,15,5,Avengers: Age of Ultron,"$1,402,809,540",2015,[# 28][# 21]
15,16,15,The Super Mario Bros. Movie â€,"$1,362,038,437",2023,[# 29][# 30]
16,17,9,Black Panther,"$1,347,280,838",2018,[# 31][# 32]
17,18,3,Harry Potter and the Deathly Hallows â€“ Part 2,"$1,342,139,727",2011,[# 33][# 34]
18,19,9,Star Wars: The Last Jedi,"$1,332,539,889",2017,[# 35][# 36]
19,20,12,Jurassic World: Fallen Kingdom,"$1,308,473,425",2018,[# 37][# 12]
20,21,5,Frozen,"F$1,290,000,000",2013,[# 38][# 39]
21,22,10,Beauty and the Beast,"$1,263,521,126",2017,[# 40][# 41]
22,23,15,Incredibles 2,"$1,242,805,359",2018,[# 42][# 12]
23,24,11,The Fate of the Furious,"F8$1,238,764,765",2017,[# 43][# 41]
24,25,5,Iron Man 3,"$1,214,811,252",2013,[# 44][# 45]
25,26,10,Minions,"$1,159,444,662",2015,[# 46][# 16]
26,27,12,Captain America: Civil War,"$1,153,337,496",2016,[# 47][# 48]
27,28,20,Aquaman,"$1,148,528,393",2018,[# 49][# 12]
28,29,2,The Lord of the Rings: The Return of the King,"$1,147,997,407",2003,[# 50][# 51]
29,30,24RK,Spider-Man: Far From Home,"$1,131,927,996",2019,[# 52][# 4]
30,31,23RK,Captain Marvel,"$1,128,274,794",2019,[# 53][# 54]
31,32,5RK,Transformers: Dark of the Moon,"$1,123,794,079",2011,[# 55][# 34]
32,33,7,Skyfall,"$1,108,569,499",2012,[# 56][# 57]
33,34,10,Transformers: Age of Extinction,"$1,104,054,072",2014,[# 58][# 59]
34,35,7,The Dark Knight Rises,"$1,081,169,825",2012,[# 60][# 61]
35,36,31,Joker,"$1,074,458,282",2019,[# 62][# 25]
36,37,32,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019,[# 63][# 25]
37,38,30,Toy Story 4,"$1,073,394,593",2019,[# 64][# 4]
38,39,4TS3,Toy Story 3,"$1,066,970,811",2010,[# 65][# 66]
39,40,3,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,747",2006,[# 67][# 68]
40,41,20,Rogue One: A Star Wars Story,"$1,057,420,387",2016,[# 69][# 70]
41,42,34,Aladdin,"$1,050,693,953",2019,[# 71][# 4]
42,43,6,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011,[# 72][# 66]
43,44,2,Star Wars: Episode I â€“ The Phantom Menace â€,"$1,043,711,909",1999,[# 73][# 8]
44,45,1,Jurassic Park,"$1,037,535,230",1993,[# 74][# 75]
45,46,24,Despicable Me 3,"$1,034,800,131",2017,[# 76][# 41]
46,47,22,Finding Dory,"$1,028,570,942",2016,[# 77][# 78]
47,48,5,Alice in Wonderland,"$1,025,468,216",2010,[# 79][# 80]
48,49,24,Zootopia,"$1,023,784,195",2016,[# 81][# 48]
49,50,14,The Hobbit: An Unexpected Journey,"$1,017,030,651",2012,[# 82][# 83]

## BONUS

The search results span multiple pages, housing a total of 631 movies in our example with each page displaying 50 movies at most. To scrape data seamlessly from all pages, you'll need to dive deep into the structure of the URLs generated with each "Next" click.

Take a close look at the following URLs:
- First page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,
  ```
- Second page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=51&ref_=adv_nxt
  ```
- Third page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=101&ref_=adv_nxt
  ```

You should notice a pattern. There is a `start` parameter incrementing by 50 with each page, paired with a constant `ref_` parameter holding the value "adv_nxt".

Modify your script so it's capable of iterating over all available pages to fetch data on all the 631 movies (631 is the total number of movies in the proposed example).

In [ ]:
# Your solution goes here