In [4]:
###**Lab for today:
#choose your favorite 3 book categories from this website: https://books.toscrape.com/
#and create a dataframe for each of the 3 categories, storing:
#the title of the book
#the price of the book
#the number of stars it has**

In [147]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [148]:
science= "https://books.toscrape.com/catalogue/category/books/science_22/index.html"
response = requests.get(science)
response

In [149]:
soup = BeautifulSoup(response.content)

In [150]:
science_title = soup.find_all( "a", title=True)
science_title

[<a href="../../../the-most-perfect-thing-inside-and-outside-a-birds-egg_938/index.html" title="The Most Perfect Thing: Inside (and Outside) a Bird's Egg">The Most Perfect Thing: ...</a>,
 <a href="../../../immunity-how-elie-metchnikoff-changed-the-course-of-modern-medicine_900/index.html" title="Immunity: How Elie Metchnikoff Changed the Course of Modern Medicine">Immunity: How Elie Metchnikoff ...</a>,
 <a href="../../../sorting-the-beef-from-the-bull-the-science-of-food-fraud-forensics_736/index.html" title="Sorting the Beef from the Bull: The Science of Food Fraud Forensics">Sorting the Beef from ...</a>,
 <a href="../../../tipping-point-for-planet-earth-how-close-are-we-to-the-edge_643/index.html" title="Tipping Point for Planet Earth: How Close Are We to the Edge?">Tipping Point for Planet ...</a>,
 <a href="../../../the-fabric-of-the-cosmos-space-time-and-the-texture-of-reality_572/index.html" title="The Fabric of the Cosmos: Space, Time, and the Texture of Reality">The Fabric of the ...</a>,
 <a href="../../../diary-of-a-citizen-scientist-chasing-tiger-beetles-and-other-new-ways-of-engaging-the-world_517/index.html" title="Diary of a Citizen Scientist: Chasing Tiger Beetles and Other New Ways of Engaging the World">Diary of a Citizen ...</a>,
 <a href="../../../the-origin-of-species_499/index.html" title="The Origin of Species">The Origin of Species</a>,
 <a href="../../../the-grand-design_405/index.html" title="The Grand Design">The Grand Design</a>,
 <a href="../../../peak-secrets-from-the-new-science-of-expertise_389/index.html" title="Peak: Secrets from the New Science of Expertise">Peak: Secrets from the ...</a>,
 <a href="../../../the-elegant-universe-superstrings-hidden-dimensions-and-the-quest-for-the-ultimate-theory_245/index.html" title="The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory">The Elegant Universe: Superstrings, ...</a>,
 <a href="../../../the-disappearing-spoon-and-other-true-tales-of-madness-love-and-the-history-of-the-world-from-the-periodic-table-of-the-elements_244/index.html" title="The Disappearing Spoon: And Other True Tales of Madness, Love, and the History of the World from the Periodic Table of the Elements">The Disappearing Spoon: And ...</a>,
 <a href="../../../surely-youre-joking-mr-feynman-adventures-of-a-curious-character_227/index.html" title="Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character">Surely You're Joking, Mr. ...</a>,
 <a href="../../../seven-brief-lessons-on-physics_219/index.html" title="Seven Brief Lessons on Physics">Seven Brief Lessons on ...</a>,
 <a href="../../../the-selfish-gene_81/index.html" title="The Selfish Gene">The Selfish Gene</a>]

In [156]:
science_title =[]
for title in soup.find_all( "a", title=True):
  
    science_title.append(title.get_text())
    
science_title

['The Most Perfect Thing: ...',
 'Immunity: How Elie Metchnikoff ...',
 'Sorting the Beef from ...',
 'Tipping Point for Planet ...',
 'The Fabric of the ...',
 'Diary of a Citizen ...',
 'The Origin of Species',
 'The Grand Design',
 'Peak: Secrets from the ...',
 'The Elegant Universe: Superstrings, ...',
 'The Disappearing Spoon: And ...',
 "Surely You're Joking, Mr. ...",
 'Seven Brief Lessons on ...',
 'The Selfish Gene']

In [157]:
science_price = soup.find_all( "p",  class_ = "price_color")
science_price

[<p class="price_color">£42.96</p>,
 <p class="price_color">£57.36</p>,
 <p class="price_color">£44.74</p>,
 <p class="price_color">£37.55</p>,
 <p class="price_color">£55.91</p>,
 <p class="price_color">£28.41</p>,
 <p class="price_color">£10.01</p>,
 <p class="price_color">£13.76</p>,
 <p class="price_color">£16.28</p>,
 <p class="price_color">£13.03</p>,
 <p class="price_color">£57.35</p>,
 <p class="price_color">£25.83</p>,
 <p class="price_color">£30.60</p>,
 <p class="price_color">£29.45</p>]

In [158]:

science_price =[]
for price in soup.find_all( "p",  class_ = "price_color"):
    science_price.append(price.get_text())

science_price

['£42.96',
 '£57.36',
 '£44.74',
 '£37.55',
 '£55.91',
 '£28.41',
 '£10.01',
 '£13.76',
 '£16.28',
 '£13.03',
 '£57.35',
 '£25.83',
 '£30.60',
 '£29.45']

In [159]:
rating_science = soup.find_all("p",  class_= "star-rating")
rating_science

[<p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [160]:

rating_science = []
for rate in soup.find_all("p", class_="star-rating"):
    for class_name in rate["class"]:
        if class_name != "star-rating":
            rating_science.append(class_name)

rating_science

['Four',
 'Five',
 'Four',
 'One',
 'One',
 'One',
 'Four',
 'Three',
 'Two',
 'Four',
 'Five',
 'Two',
 'Four',
 'One']

In [176]:
science_df = pd.DataFrame({
    'Title': science_title,
    'Price': science_price,
    'Rating': rating_science
})

In [177]:
science_df

                                      Title   Price Rating
0               The Most Perfect Thing: ...  £42.96   Four
1        Immunity: How Elie Metchnikoff ...  £57.36   Five
2                 Sorting the Beef from ...  £44.74   Four
3              Tipping Point for Planet ...  £37.55    One
4                     The Fabric of the ...  £55.91    One
5                    Diary of a Citizen ...  £28.41    One
6                     The Origin of Species  £10.01   Four
7                          The Grand Design  £13.76  Three
8                Peak: Secrets from the ...  £16.28    Two
9   The Elegant Universe: Superstrings, ...  £13.03   Four
10          The Disappearing Spoon: And ...  £57.35   Five
11            Surely You're Joking, Mr. ...  £25.83    Two
12               Seven Brief Lessons on ...  £30.60   Four
13                         The Selfish Gene  £29.45    One

In [161]:
travel= "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
response = requests.get(travel)
travel_title = soup.find_all( "a", title=True)
travel_title
response

In [162]:
soup_travel = BeautifulSoup(response.content)

In [163]:
travel_title = soup_travel.find_all( "a", title=True)
travel_title

[<a href="../../../its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a>,
 <a href="../../../full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html" title="Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond">Full Moon over Noah’s ...</a>,
 <a href="../../../see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html" title="See America: A Celebration of Our National Parks &amp; Treasured Sites">See America: A Celebration ...</a>,
 <a href="../../../vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html" title="Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel">Vagabonding: An Uncommon Guide ...</a>,
 <a href="../../../under-the-tuscan-sun_504/index.html" title="Under the Tuscan Sun">Under the Tuscan Sun</a>,
 <a href="../../../a-summer-in-europe_458/index.html" title="A Summer In Europe">A Summer In Europe</a>,
 <a href="../../../the-great-railway-bazaar_446/index.html" title="The Great Railway Bazaar">The Great Railway Bazaar</a>,
 <a href="../../../a-year-in-provence-provence-1_421/index.html" title="A Year in Provence (Provence #1)">A Year in Provence ...</a>,
 <a href="../../../the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html" title="The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)">The Road to Little ...</a>,
 <a href="../../../neither-here-nor-there-travels-in-europe_198/index.html" title="Neither Here nor There: Travels in Europe">Neither Here nor There: ...</a>,
 <a href="../../../1000-places-to-see-before-you-die_1/index.html" title="1,000 Places to See Before You Die">1,000 Places to See ...</a>]

In [164]:
travel_title =[]
for title in soup_travel.find_all( "a", title=True):
  
    travel_title.append(title.get_text())
    
travel_title

["It's Only the Himalayas",
 'Full Moon over Noah’s ...',
 'See America: A Celebration ...',
 'Vagabonding: An Uncommon Guide ...',
 'Under the Tuscan Sun',
 'A Summer In Europe',
 'The Great Railway Bazaar',
 'A Year in Provence ...',
 'The Road to Little ...',
 'Neither Here nor There: ...',
 '1,000 Places to See ...']

In [165]:
travel_price = soup_travel.find_all( "p",  class_ = "price_color")
travel_price

[<p class="price_color">£45.17</p>,
 <p class="price_color">£49.43</p>,
 <p class="price_color">£48.87</p>,
 <p class="price_color">£36.94</p>,
 <p class="price_color">£37.33</p>,
 <p class="price_color">£44.34</p>,
 <p class="price_color">£30.54</p>,
 <p class="price_color">£56.88</p>,
 <p class="price_color">£23.21</p>,
 <p class="price_color">£38.95</p>,
 <p class="price_color">£26.08</p>]

In [166]:

travel_price =[]
for price in soup_travel.find_all( "p",  class_ = "price_color"):
    travel_price.append(price.get_text())

travel_price

['£45.17',
 '£49.43',
 '£48.87',
 '£36.94',
 '£37.33',
 '£44.34',
 '£30.54',
 '£56.88',
 '£23.21',
 '£38.95',
 '£26.08']

In [167]:
rating_travel = soup_travel.find_all("p",  class_= "star-rating")
rating_travel

[<p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [168]:

rating_travel= []
for rate in soup_travel.find_all("p", class_="star-rating"):
    for class_name in rate["class"]:
        if class_name != "star-rating":
            rating_travel.append(class_name)

rating_travel

['Two',
 'Four',
 'Three',
 'Two',
 'Three',
 'Two',
 'One',
 'Four',
 'One',
 'Three',
 'Five']

In [174]:
travel_df = pd.DataFrame({
    'Title': travel_title,
    'Price': travel_price,
    'Rating': rating_travel
})

In [175]:
travel_df

                                 Title   Price Rating
0              It's Only the Himalayas  £45.17    Two
1            Full Moon over Noah’s ...  £49.43   Four
2       See America: A Celebration ...  £48.87  Three
3   Vagabonding: An Uncommon Guide ...  £36.94    Two
4                 Under the Tuscan Sun  £37.33  Three
5                   A Summer In Europe  £44.34    Two
6             The Great Railway Bazaar  £30.54    One
7               A Year in Provence ...  £56.88   Four
8               The Road to Little ...  £23.21    One
9          Neither Here nor There: ...  £38.95  Three
10             1,000 Places to See ...  £26.08   Five

In [179]:
psychology= "https://books.toscrape.com/catalogue/category/books/psychology_26/index.html"
response = requests.get(psychology)
response

In [180]:
soup_psy = BeautifulSoup(response.content)

In [181]:
psy_title = soup_psy.find_all( "a", title=True)
psy_title

[<a href="../../../the-lucifer-effect-understanding-how-good-people-turn-evil_758/index.html" title="The Lucifer Effect: Understanding How Good People Turn Evil">The Lucifer Effect: Understanding ...</a>,
 <a href="../../../the-golden-condom-and-other-essays-on-love-lost-and-found_637/index.html" title="The Golden Condom: And Other Essays on Love Lost and Found">The Golden Condom: And ...</a>,
 <a href="../../../it-didnt-start-with-you-how-inherited-family-trauma-shapes-who-we-are-and-how-to-end-the-cycle_593/index.html" title="It Didn't Start with You: How Inherited Family Trauma Shapes Who We Are and How to End the Cycle">It Didn't Start with ...</a>,
 <a href="../../../an-unquiet-mind-a-memoir-of-moods-and-madness_422/index.html" title="An Unquiet Mind: A Memoir of Moods and Madness">An Unquiet Mind: A ...</a>,
 <a href="../../../thinking-fast-and-slow_289/index.html" title="Thinking, Fast and Slow">Thinking, Fast and Slow</a>,
 <a href="../../../civilization-and-its-discontents_140/index.html" title="Civilization and Its Discontents">Civilization and Its Discontents</a>,
 <a href="../../../8-keys-to-mental-health-through-exercise_114/index.html" title="8 Keys to Mental Health Through Exercise">8 Keys to Mental ...</a>]

In [182]:
psy_title =[]
for title in soup_psy.find_all( "a", title=True):
  
    psy_title.append(title.get_text())
    
psy_title

['The Lucifer Effect: Understanding ...',
 'The Golden Condom: And ...',
 "It Didn't Start with ...",
 'An Unquiet Mind: A ...',
 'Thinking, Fast and Slow',
 'Civilization and Its Discontents',
 '8 Keys to Mental ...']

In [183]:
psy_price = soup_psy.find_all( "p",  class_ = "price_color")
psy_price

[<p class="price_color">£10.40</p>,
 <p class="price_color">£39.43</p>,
 <p class="price_color">£56.27</p>,
 <p class="price_color">£21.30</p>,
 <p class="price_color">£21.14</p>,
 <p class="price_color">£59.95</p>,
 <p class="price_color">£31.04</p>]

In [184]:
psy_price =[]
for price in soup_psy.find_all( "p",  class_ = "price_color"):
    psy_price.append(price.get_text())
psy_price

['£10.40', '£39.43', '£56.27', '£21.30', '£21.14', '£59.95', '£31.04']

In [185]:
rating_psy = soup_psy.find_all("p",  class_= "star-rating")
rating_psy

[<p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [186]:
rating_psy = []
for rate in soup_psy.find_all("p", class_="star-rating"):
    for class_name in rate["class"]:
        if class_name != "star-rating":
            rating_psy.append(class_name)

rating_psy

['One', 'One', 'Three', 'Three', 'One', 'Two', 'One']

In [187]:
psy_df = pd.DataFrame({
    'Title': psy_title,
    'Price': psy_price,
    'Rating': rating_psy
})

In [188]:
psy_df

                                   Title   Price Rating
0  The Lucifer Effect: Understanding ...  £10.40    One
1             The Golden Condom: And ...  £39.43    One
2               It Didn't Start with ...  £56.27  Three
3                 An Unquiet Mind: A ...  £21.30  Three
4                Thinking, Fast and Slow  £21.14    One
5       Civilization and Its Discontents  £59.95    Two
6                   8 Keys to Mental ...  £31.04    One